.addEnemies{
    border: solid;
    border-radius: 10px;
    height: 10vh;
    width: 30vw;
}


.App{
    display: contents;
}

.Ability{
    border: solid;
    margin: 5px;
}

.abilities{
    border: solid;
    width: 30vw;
    height: 85vh;
    padding: 5px;
    margin: 5px;
    overflow-y: scroll;
}

.Battle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Battle section{
    width: 2.5vw;
}

.BattleCharacter{
    display: flex;
    width: 30vw;
    height: 90vh;
    border: solid;
    flex-direction: column;
    align-items: center;
}

.BattleCharacter img{
    height: 35%
}

.BattleCharacter button{
    height: 14%;
    width: 100%;
}

.battleControls{
    height: 60%;
}

.BattleLog{
    width: 35vw;
    height: 90vh;
    border: solid;
    overflow: scroll;
}

.BattleLog span{
    display: flex;
    justify-content: flex-end;
}

.BattleEnemy{
    display: flex;
    width: 30vw;
    height: 90vh;
    border: solid;
    flex-direction: column;
    align-items: center;
}

Body{
    margin: 0;
}

.character{
    border: solid;
    width: 20vw;
}

.character img{
    height: 30vh;
}

.characterAbility{
    border: solid;
}

.characterAbilities{
    border: solid;
    width: 30vw;
    height: 85vh;
    padding: 5px;
    margin: 5px;
    overflow-y: scroll;
}

.dungeonForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editCharacter{
    display: flex;
}

.editCharacterStats {
    width: 30vw;
    height: 86vh;
    border: solid;
    margin: 5px;
}

.imageWidth{
    width: 100%;
}

.imageHeight{
    height: 40%;
}

.modalBackground{
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200);
    position: absolute;
    justify-content: center;
    align-items: center;
}

.modalContainer{
    width: 500px;
    height: 500px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: absolute;
    right: 35vw;
    top: 10vh;
    align-self: center;
    z-index: 1;
}

nav{
    height: 5vh;
    width: 98%;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 1rem;
    border: solid black;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
  }